<div id="contact-details" [formGroup]="regForm">
  <div class="form-group col-md-4" formGroupName="contactDetails">
    <label>Email*</label>
    <input type="text" class="form-control" formControlName="email">
  </div>
  <div class="form-group col-md-4" formGroupName="contactDetails">
    <label>Phone</label>
    <input type="text" class="form-control" formControlName="phone">
  </div>
</div>
<br/>
<button type="button" matStepperPrevious>Back</button>
&nbsp;
<button type="button" matStepperNext (click)="step2Submitted()">Next</button>