<div *ngIf="formSubmitted">
  <h4>Details submitted successfully</h4>
</div>
<div *ngIf="!formSubmitted">
  <h4>Following details submitted, please confirm and hit submit</h4>
  <br/>Name: {{regForm.get('personalDetails').get('firstname').value}} 
    {{regForm.get('personalDetails').get('lastname').value}}
  <br/>Email : {{regForm.get('contactDetails').get('email').value}}
  <br/>Phone :{{regForm.get('contactDetails').get('phone').value}}
  <br/>
  <button type="button" matStepperPrevious>Back</button>
  &nbsp;
  <button type="button" (click)="submit()">Submit</button>
</div>